*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 1px solid red; */
}


.header{
    /* height: 100vh; */
    width: 100%;
    background-image: url('./images/1-home.jpg');
    background-position: center;
    background-size: cover;
    position: relative;

}

.header::before{
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
   
}

.navbar-hidden{
    display: none;
}
.navbar{
    height: 5rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    z-index: 2;
    padding-top: 2rem;
    
}

.logo{
    font-size: 3rem;
    font-weight: 600;
}

.navbar-list{
    display: flex;
    align-items: center;
    gap: 2rem;
    list-style: none;
    
}

.navbar-list>li>a{
    text-decoration: none;
    color: white;
    font-size: 1.4rem;
}

.navbar-hidden{
    display: none;
    height: 2rem;
    width: 2rem;

}

.content-page{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    flex-direction: column;
    z-index: 2;
    gap: 3rem;
    text-align: center;
    padding-block: 5rem;
}


.content-page>h1{
    color: white;
    font-size: 3.5rem;
}

.content-page-btn{
    padding: 0.8rem;
    color: white;
    background: #137547;
    font-size: 1rem;
    border-radius: 10px;
    width: 12rem;
     border: none;
}
.content-page-btn:hover{
    border: 1px dotted white;
}

.navbar-btn{
    padding: 0.8rem;
    color: white;
    background: none;
    font-size: 1rem;
    border-radius: 10px;
    width: 12rem;
    border: 1px solid white;
    
}
.navbar-btn:hover{
    background-color: #137547;
    border: none;
}


/* .............................  */

/* section two starts here  */

.section-two{
    /* height: 150rem; */
    width: 100%;
    

}

.sec-two-heading{
    height: 15rem;
    width: 100%;
    text-align: center;
    padding-top: 4rem;
   
}

.sec-two-heading>h1{
    font-size: 4rem;
    padding-top: 2rem;
}

.main-card-div{

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    flex-wrap: wrap;

}

.sec-two-card>img{
    height: 30rem;
    width: 20rem;
    border-radius: 10px;
    
}

.sec-two-card>h2{
    padding-block: 1.5rem;
}

.sec-two-card>p{
    font-size: 1.3rem;
    padding-bottom: 3rem;

}
/* ............................  */

/* section three starts here  */

.section-three{
    height: 95vh;
    width: 100%;
    background-color: #e9f2ed;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.profile-div{
    padding-top: 6rem;
    text-align: center;
}

.profile-div>h3{
    padding-block: 1.2rem;
}

.profile-div>img{
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
}

.profile-div>i{
    font-size: 0.8rem;
    color: #137547;
}

.sec-three-content{
    text-align: center;
}

.sec-three-content>h1{
    padding-block: 3rem;
}

.sec-three-btn{
    height: 3rem;
    width: 14rem;
    font-size: 1.1rem;
    text-align: center;
    border: 2px solid black;
    border-radius: 10px;
}

.sec-three-btn:hover{
    color: white;
    background-color: #137547;
    border: none;
}

/* section four starts here  */

.section-four{
    height: 120vh;
    width: 100%;
    display: flex;
    gap: 5rem;
}

.sec-four-left-div{
    /* height: 100%; */
    width: 100%;
    text-align: center;
    padding-top: 4rem;

}

.sec-four-left-div>img{

    height: 30rem;
    width:25rem;
    
}

.sec-four-left-div>h2{
    font-size: 2rem;
    padding-block: 1.5rem;
}

.sec-four-left-div{
    font-size: 1.2rem;
}


.sec-four-right-div{
    /* height: 100%; */
    width: 100%;
    padding-top: 4rem;
    
}

.sec-four-right-div>h5{
    font-size: 1.2rem;
    
}

.sec-four-right-div>h1{
    font-size: 2.7rem;
    padding-top: 2rem;
    
}

.sec-four-right-div>p{
    font-size: 1.2rem;
    padding-block: 1.5rem;
    
}
.sec-four-btn{
    display: flex;
    gap: 2rem;
}
.btn-1{
    padding: 0.8rem;
    color: white;
    background: #137547;
    font-size: 1rem;
    border-radius: 10px;
    height: 3rem;
    width: 12rem;
     border: none;
}

.sec-four-btn{
    padding-top: 3rem;
}

.btn-2{
    height: 3rem;
    width: 14rem;
    font-size: 1.1rem;
    text-align: center;
    border: 2px solid black;
    border-radius: 10px;
}
.btn-2:hover{
    color: white;
    border: none;
    background-color: #137547;
}

/* section five starts here  */


.section-five{
    height: 80vh;
    width: 100%;
}
.sec-five-div{
    height: 100%;
    width: 100%;
    background-image: url('./images/7-home.jpg');
    background-position: center;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

}

.sec-five-div::before{
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
   
}
.sec-five-div-content{
    position: relative;
    z-index: 2;
    color: white;
    text-align: center;
}

.sec-five-div-content>h1{
    font-size: 3.5rem;
}

.sec-five-div-content>p{
    font-size: 1.5rem;
    padding-block: 2rem;
}

/* section six starts here  */

.footer-six{
    height: 40vh;
    width: 100%;
}

.footer{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-block: 1.8rem;
}

.footer-menu{
    display: flex;
}

.footer-navbar-list{
    display: flex;
    align-items: center;
    gap: 2rem;
    list-style: none;
    
}

.footer-navbar-list>li>a{
    color: black;
    text-decoration: none;
    font-size: 1.3rem;
    
}

.footer-logo>img{
    height: 4rem;
    width: 4rem;
    /* font-weight: 600; */
}

.footer-copyright>p{
    font-size: 1.3rem;

}

/* <!-- About Page starts here.  */

.about-header{
    height: 70vh;
    width: 100%;
    background-image: url('./images/1-about.jpg');
    background-position: center;
    background-size: cover;
    position: relative;

}

.about-header::before{
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
   
}

.about-section-two{
    height: 100vh;
    width: 100%;
    display: flex;
    gap: 5rem;
}

.about-section-three{
    height: 25vh;
    width: 100%;
}
.about-sec-three{
    height: 100%;
    width: 100%;
    /* flex-wrap: wrap; */
}
.about-sec-three>h1{
    font-size: 3rem;
    text-align: center;
}

.about-section-four{
    height: 100vh;
    width: 100%;
    display: flex;
    gap: 3rem;
    
}


.sec-four-left-div{
    /* height: 100%; */
    width: 100%;
    padding-top: 4rem;
    
}


.sec-four-left-div>h1{
    font-size: 2.7rem;
    padding-top: 2rem;
    
}

.sec-four-left-div>p{
    font-size: 1.2rem;
    padding-block: 1.5rem;
    
}

.sec-four-right-div{
    /* height: 100%; */
    width: 100%;
    /* text-align: center; */
    padding-top: 2rem;
    padding-left: 5rem;

}

.sec-four-right-div>img{

    height: 30rem;
    width:25rem;
    
}

.sec-four-right-div>h2{
    font-size: 2rem;
    padding-block: 1.5rem;
}

.sec-four-right-div{
    font-size: 1.2rem;
}

.about-section-five{
    height: 25vh;
    width: 100%;
}

/* <!-- Services Page starts here.  */

.services-header{
    height: 70vh;
    width: 100%;
    background-image: url('./images/1-services.jpg');
    background-position: center;
    background-size: cover;
    position: relative;

}

.services-header::before{
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
   
}

.services-section-two{
    height: auto;
    width: 100%;
    padding-bottom: 5rem;
}
.services-section-two-container{

    height: 100%;
    width: 100%;
    display: flex;
    /* flex-wrap: wrap; */
   
}
.services-left-div{
    padding-top: 5rem;
    padding-left: 7rem;
   /* flex-wrap: wrap; */
    
}
.services-left-div>img{
    height: 32rem;
    width: 22rem;
    border-radius: 10px;
    
}

.services-right-div{
    padding-top: 5rem;
    padding-left: 5rem;
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
}
.services-right-div>h1{
    font-size: 2.5rem
}
.services-right-div>p{
    font-size: 1.5rem;
}
.services-btn{
    height: 3rem;
    width: 15rem;
    background-color: #137547;
    color: white;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
}


.section-five{
    height: 80vh;
    width: 100%;
}
.services-five-div{
    height: 100%;
    width: 100%;
    background-image: url('./images/2-services.jpg');
    background-position: center;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

}

.services-five-div::before{
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
   
}

/* <!-- Contect Page starts here.  */

.contact-header{
    height: 70vh;
    width: 100%;
    background-image: url('./images/1-contact.jpg');
    background-position: center;
    background-size: cover;
    position: relative;

}

.contact-header::before{
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
   
}

.form-section{
    height: 105vh;
    width: 100%;
}
.heading-div{
    height: 30vh;
    width: 100%;
}

.heading-div>h1{
    text-align: center;
    font-size: 3.5rem;
    padding-block: 2rem;
}
.form-div{
    height: 80vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form{
    height: 100%;
    width: 45%;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    
}
.form>input{
    height: 3rem;
    padding: 1.5rem;
    border-radius: 5px;
    font-size: 1.3rem;
    border: 1px solid black;
}
/* .form-message{
    padding: 6rem;
} */
.form-btn{
    height: 3rem;
    width: 10rem;
    border-radius: 8px;
    color: white;
    background-color: #137547;
    font-size: 1.3rem;
    border: none;
}

.contact-section-three{
    height: auto;
    width: 100%;
    background-color: #e9f2ed;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-inline: 1rem;
   
}
.con-sec-three-content{
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
}
.contact-left-div{
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    padding-inline: 4rem;
        /* padding: ; */

    gap: 2rem;
}

.sec-three-info>p{
    font-size: 1.5rem;
}
.sec-three-icon{
    display: flex;
    flex-direction: column;
    flex-direction: row;
    gap: 2rem;
    
}
.icon{
    height: 3.5rem;
    width: 3.5rem;
    font-size: 1.5rem;
    padding-top: 0.9rem;
    padding-left: 0.7rem;
    border-radius: 50%;
    color: white;
    background-color: #137547;
}

.contact-right-div>p{
    font-size: 1.5rem;
    padding-bottom: 1.8rem;

}





/* media query starts here  */

@media screen and (max-width:576px){
    
    .navbar-hidden{
        display: block;
        background-color: white;
        padding: 0.5rem;
    }
    
    .content-page>h1{
        font-size: 1.5rem;
    }
    .navbar-list{
        display: none;
    }
    
    .sec-two-heading>h1{
        font-size: 1.5rem;
    }

    .sec-two-heading>h4{
        font-size: 1rem;
        padding-inline: 2rem;
    }

    .sec-three-content>h1{
        font-size: 1.5rem;
    }
    .section-four{
        flex-wrap: wrap;
        height: 250vh;
    }

    .sec-four-btn{
        padding-inline: 2rem;
    }

    .sec-four-right-div{
        padding-inline: 2rem;
        padding-bottom: 1rem;
    }

    .sec-five-div-content>h1{
        font-size: 2rem;
    }

    .footer{
        padding-inline: 2rem;
        flex-direction: column;
    }

    .about-section-two{
        flex-wrap: wrap;
        height: 200vh;
    }

    .about-sec-three>h1{
        font-size: 1.5rem;
        padding-inline: 2rem;

    }

    .about-section-four{
        flex-wrap: wrap;
        height: 200vh;
    }
    .services-section-two-container{
        height: 170vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }

    .services-left-div{
        padding-left: 0rem;
       padding-block: 2rem;
    }

    .services-right-div{
        padding: 1.5rem;
    }

    /* ..........................  */

    
    .heading-div>h1{
        font-size: 1.5rem;
    
    }
    .contact-section-three{
        /* flex-wrap: wrap; */
        /* height: 200vh; */
    }
}